.bg {
    /* The image used */
    background-image: url("../Content/Images/LoginPage.png");
    opacity: 0.5;
    filter: grayscale(80%);
    height:65%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
