@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/Admin/Index">Home</a></li>
            <li><a href="/Admin/Users">Users</a></li>
            <li><a href="/Admin/Statistics"> Statistics </a></li>
            <li><a href="/Admin/Places">Places</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
    @RenderBody()
</div>




