

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Calender-->
<div class="panel-body col-md-9">

    <mwl-calendar events="events"
                  view="calConfig.calendarView"
                  current-day="calConfig.calendarDay"
                  control="calendarControl"
                  view-title="calendarTitle"
                  on-event-click="eventClicked(calendarEvent)"
                  auto-open="true"
                  on-drill-down-click="false"
                  cell-modifier="cellModifier(calendarCell)">
    </mwl-calendar>

</div>

<!-- Close Events  -->
<div class="col-md-3">
    <center> <h2> Close Events </h2></center>

    <div ng-repeat="event in close_events_arr">

        <div class="closeEventTemplate">

            <div style="height: 30%; background-color: #337ab7;">
                <p style=" padding: 3%; text-align: center; color: white;"> {{ event.title}} </p>
            </div>

            <div style="padding-top: 10px; padding-bottom: 10px;">
                <table style="width: 100%">
                    <tbody>
                        <tr>

                            <td style="width: 65%;">
                                <ul>
                                    <li><b> קטגוריה </b> : {{ event.category }} </li>
                                    <li> <b>מתחיל ב: </b> <br /> {{ event.startsAt }}  </li>
                                    <li> <b> מס' משתתפים: </b> {{ event.max_attendies}} </li>
                                </ul>
                            </td>
                            <td style="width: 35%;">
                                <div style="padding: 10%; ">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;float:left">
                                        <input class="btn actionButton" ng type="button" id="send" value="הצטרף" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <br>
</div>



<!-- ShowEvent -->

<div class="modal fade " id="eventShow-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <form action="#" class="sport_event">
        <label> {{ title }}  </label>
        <hr />

        <ul>
            <li><div class="list_key">Owner: </div> <div id="owner_id" style="display:initial"> {{ owner }} </div> </li>
            <li> <div class="list_key">Category: </div> {{ category }} </li>
            <li><div class="list_key"> Maximum Attendies: </div>{{ max_attendies }} </li>
            <li><div class="list_key"> Location: </div> {{ location }} </li>
            <li><div class="list_key"> Date: </div> {{ date }} </li>
            <li><div class="list_key"> Start Time: </div> {{ startsAt }} </li>
            <li><div class="list_key"> End Time: </div> {{ endsAt }} </li>

        </ul>


        <br />
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1">
            <input class="btn actionButton" ng-type="button" id="sport_event_join" value="Join" />
        </button>
    </form>
</div>

<!-- Event creation form -->
<div class="fade sport_event" id="eventAddition-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

        <h3>Event Creation</h3>
    </div>
    <hr />
    <form data-toggle="validator" role="form" action="#">
        <div class="form-group">
            <label class="labelEvent">Title</label>
            <input type="text" id="title" class="form-control" maxlength="50" placeholder="Write title" />
        </div>
        <div class="form-group">
            <label class="labelEvent" for="categories">Category <span class="asterisk">*</span></label>
            <select id="categories" class="form-control" required></select>
        </div>
        <div class="form-group">
            <label class="labelEvent">Date and Time <span class="asterisk">*</span></label>
            <div class='input-group date form-group' id='datetimepicker1'>

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type='text' class="form-control" id="datetime" data-error="Choose date and time" required />


            </div>
        </div>
        <div class="form-group">
            <label class="labelEvent">Maximum Attendies</label>
            <input type="number" id="attendies" min="2" max="50" class="form-control" placeholder="Write the maximum attendies number" />
        </div>
        <div class="form-group">
            <label class="labelEvent">Duration</label>
            <input type="number" id="duration" min="30" max="300" class="form-control" placeholder="Write the duration in munutes" />
        </div>
        <div class="form-group">
            <label class="labelEvent">Location<span class="asterisk">*</span></label>
            <input type="text" id="location" class="form-control" placeholder="Write the location" maxlength="50" data-error="No location" required />
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="labelEvent">Notes<span class="asterisk"></span></label>
            <textarea id="notes" class="form-control" rows="4" placeholder="Write notes" maxlength="200"></textarea>

        </div>

        <div class="form-group">
            <button id="form_eventSport_send" type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

</div>



