 <!-- Calander Libaries -->
<link rel="stylesheet" href="/scripts/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css">
<script src="~/scripts/js/moment.min.js"></script>
<script src="/scripts/js/ui-bootstrap-tpls.min.js"></script>
<script src="/scripts/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar.js"></script>
<script src="/scripts/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
<script src="/scripts/app.js"></script>

<!-- Datetime picker -->
<link href="~/scripts/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="/scripts/js/moment-with-locales.min.js"></script>
<script src="/scripts/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<!-- Sport Event Form -->
<script src="~/Scripts/validator.js"></script>

<!-- SearchFilter -->

<link href="~/Content/SearchMenu.css" rel="stylesheet" id="bootstrap-css">

<div class="panel-heading clearfix">
    <div>
        <div class="col-md-4">
            <a href="#" id="createEventButton" class="btn btn-primary btn-lg " style="padding: 6px 16px;" role="button" data-toggle="modal" data-target="#eventAddition-modal">
                <p style="margin: 0 0 0 0;">  <span class="glyphicon glyphicon-plus text-center"></span> Create Sport Event </p>
            </a>
        </div>
        <div class="col-md-4">
            <h2 style="margin-top: 0px; margin-bottom: 0px;" class="text-center">{{ calendarTitle }} </h2>
        </div>

        <div class="btn-group col-md-2 " style="float: left;">
            <label class="btn btn-primary" style="float: left;" ng-model="calConfig.calendarView" btn-radio="'day'">Day</label>
            <label class="btn btn-primary" style="float: left;" ng-model="calConfig.calendarView" btn-radio="'week'">Week</label>
            <label class="btn btn-primary" style="float: left;" ng-model="calConfig.calendarView" btn-radio="'month'">Month</label>
        </div>

    </div>
    <!-- <p class="text-center"><a href = "#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#eventAddition-modal">Open Login Modal</a></p> -->

</div>


<div class="row search_menu">
    <div class="col-md-5">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for CIK, Filer, Ticker, Person..." />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="filter">Category</label>
                                    <select id="categories_filter" class="form-control categories">
                                        <option selected>Any</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Places</label>
                                    <input class="form-control" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="contain">Date</label>
                                    <input class="form-control" type="text" />
                                </div>
                                <button type="submit" class="btn btn-primary firefilter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary firefilter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">




    <!-- Main Calender-->
    <div class="panel-body col-md-9">

        <mwl-calendar events="events"
                      view="calConfig.calendarView"
                      current-day="calConfig.calendarDay"
                      control="calendarControl"
                      view-title="calendarTitle"
                      on-event-click="eventClicked(calendarEvent)"
                      auto-open="true"
                      on-drill-down-click="false"
                      cell-modifier="cellModifier(calendarCell)">
        </mwl-calendar>

    </div>

    <!-- Close Events  -->
    <div class="col-md-3">
        <center> <h2> Close Events </h2></center>

        <div ng-repeat="event in close_events_arr">

            <div class="closeEventTemplate">

                <div style="height: 30%; background-color: #337ab7;">
                    <p style=" padding: 3%; text-align: center; color: white;"> {{ event.title}} </p>
                </div>

                <div style="padding-top: 10px; padding-bottom: 10px;">
                    <table style="width: 100%">
                        <tbody>
                            <tr>

                                <td style="width: 65%;">
                                    <ul>
                                        <li><b> קטגוריה </b> : {{ event.category }} </li>
                                        <li> <b>מתחיל ב: </b> <br /> {{ event.startsAt }}  </li>
                                        <li> <b> מס' משתתפים: </b> {{ event.max_attendies}} </li>
                                    </ul>
                                </td>
                                <td style="width: 35%;">
                                    <div style="padding: 10%; ">

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;float:left">
                                            <input class="btn actionButton" ng type="button" id="send" value="הצטרף" />
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <br>
    </div>
</div>
<div class="panel-footer">
    <button class="btn btn-primary"
            mwl-date-modifier
            date="calConfig.calendarDay"
            decrement="calConfig.calendarView">
        Back
    </button>
    <button class="btn btn-default"
            mwl-date-modifier
            date="calConfig.calendarDay"
            set-to-today>
        Today
    </button>

    <button class="btn btn-primary"
            mwl-date-modifier
            date="calConfig.calendarDay"
            increment="calConfig.calendarView">
        Forward
    </button>


</div>


<!-- ShowEvent -->

<div class="modal fade " id="eventShow-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <form action="#" class="sport_event">
        <label> {{ title }}  </label>
        <hr />

        <ul>
            <li><div class="list_key">Owner: </div> <div id="owner_id" style="display:initial"> {{ owner }} </div> </li>
            <li> <div class="list_key">Category: </div> {{ category }} </li>
            <li><div class="list_key"> Maximum Attendies: </div>{{ max_attendies }} </li>
            <li><div class="list_key"> Location: </div> {{ location }} </li>
            <li><div class="list_key"> Date: </div> {{ date }} </li>
            <li><div class="list_key"> Start Time: </div> {{ startsAt }} </li>
            <li><div class="list_key"> End Time: </div> {{ endsAt }} </li>

        </ul>


        <br />
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1">
            <input class="btn actionButton" ng-type="button" id="sport_event_join" value="Join" />
        </button>
    </form>
</div>

<!-- Event creation form -->
<div class="fade sport_event" id="eventAddition-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

        <h3>Event Creation</h3>
    </div>
    <hr />
    <form data-toggle="validator" role="form" action="#">
        <div class="form-group">
            <label class="labelEvent">Title</label>
            <input type="text" id="title" class="form-control" maxlength="50" placeholder="Write title" />
        </div>
        <div class="form-group">
            <label class="labelEvent" for="categories">Category <span class="asterisk">*</span></label>
            <select id="categories_create" class="form-control categories" required></select>
        </div>
        <div class="form-group">
            <label class="labelEvent">Date and Time <span class="asterisk">*</span></label>
            <div class='input-group date form-group' id='datetimepicker1'>

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type='text' class="form-control" id="datetime" data-error="Choose date and time" required />


            </div>
        </div>
        <div class="form-group">
            <label class="labelEvent">Maximum Attendies</label>
            <input type="number" id="attendies" min="2" max="50" class="form-control" placeholder="Write the maximum attendies number" />
        </div>
        <div class="form-group">
            <label class="labelEvent">Duration</label>
            <input type="number" id="duration" min="30" max="300" class="form-control" placeholder="Write the duration in munutes" />
        </div>
        <div class="form-group">
            <label class="labelEvent">Location<span class="asterisk">*</span></label>
            <input type="text" id="location" class="form-control" placeholder="Write the location" maxlength="50" data-error="No location" required />
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label class="labelEvent">Notes<span class="asterisk"></span></label>
            <textarea id="notes" class="form-control" rows="4" placeholder="Write notes" maxlength="200"></textarea>

        </div>

        <div class="form-group">
            <button id="form_eventSport_send" type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>



</div>

<!--
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
<!-- </div>-->
<!--/.container-->
<!--</div>-->
<!--/.footer-->


