
@{
    ViewBag.Title = "LoginPage";
}








<h2 > Login Page</h2>
<h3> Please login</h3>

<a href="#" class="fireFacebooklogin" style="padding: 6px 16px;">
    <p style="margin: 0 0 0 0;">  Login </p>
</a>




