
@{
    ViewBag.Title = "LoginPage";
}


<!-- Firebase -->

<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<script src="~/Scripts/login/firebase.js"></script>




<h2> Login Page</h2>
<h3> Please login</h3>

<a href="#" class="fireFacebooklogin" style="padding: 6px 16px;">
    <p style="margin: 0 0 0 0;">  Login </p>
</a>




