
@{
    ViewBag.Title = "LoginPage";
}

<!-- Base libaries -->
<link href="~/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

@*<link href="/scripts/bootstrap-rtl-master/dist/css/bootstrap-rtl.css" rel="stylesheet">*@
<script src="/scripts/angular-1.6.4/angular.js"></script>
@*<script type="text/javascript" src="/scripts/js/jquery-1.11.3.js"></script>*@
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="/scripts/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

<link href="~/scripts/LoginPage.css " rel="stylesheet">





<!-- Firebase -->

<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>

<script src="~/Scripts/firebase.js"></script>

<h2 > Login Page</h2>
<div class="bg">

</div>


